body {
  font-family: "Playfair Display", serif;
}
.App-logo {
  height: 80px;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
