body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://i.imgur.com/7C3lNDt.jpg");
  background-size: cover;
  color: #e1e2ef;
}

h1 {
  margin-left: 1em;
}

.p2b {
  text-align: center;
  margin: auto;
  padding: 50px 0 50px;
  font-size: 20px;
  font-weight: bold;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
  font-size: large;
  color: #000;
  font-weight: 900;
}

.containz {
  width: auto;
  background-color: #a9d3ff;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
}

.h2b {
  text-align: center;
  margin: auto;
  padding-top: 150px;
  font-size: 5em;
  font-weight: bolder;
}
.App-logo {
  height: 80px;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
